body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smooth: antialiased;
  -webkit-text-size-adjust: 100%;
}
body {
  font: 16px/1.6 "Raleway", Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  background: url("../images/bg-img.jpg");
  background-repeat: no-repeat;
}
#header {
  position: absolute;
  width: 100%;
  height: 112px;
  left: 0px;
  top: 1px;

  background: rgba(249, 249, 249, 0.3);
  background-blend-mode: lighten;
  border-radius: 10px;
}

#header .header-content-box {
  position: absolute;
  width: 421px;
  height: 56px;
  left: 90px;
  top: 29px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 50px;
}

#header .header-content {
  position: absolute;
  width: 393px;
  height: 42px;
  top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  color: #ffffff;
}

#box-1 {
  position: absolute;
  width: 50%;
  height: 140px;
  left: 308px;
  top: 150px;

  background: rgba(153, 155, 155, 0.25);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
}

#box-1 .content-1 {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;

  color: #ffffff;
}

#box-1 .content-1 .btn-1 {
  position: absolute;
  width: 210px;
  height: 40px;
  left: 180px;
  top: 5px;
  background: rgba(196, 196, 196, 0.2);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}

#box-1 .content-1 .btn-2 {
  position: absolute;
  width: 200px;
  height: 40px;

  background: rgba(95, 95, 95, 0.65);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  left: 280px;
  top: 70px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}

#box-2 {
  position: absolute;
  width: 50%;
  height: 350px;
  left: 308px;
  top: 300px;

  background: rgba(153, 155, 155, 0.25);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
}

#box-2 .content-2 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 20px;
  top: 20px;
  background: rgba(255, 252, 252, 0.2);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;

  color: #ffffff;
}

#box-2 .content-3 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 240px;
  top: 20px;
  background: rgba(255, 252, 252, 0.2);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;

  color: #ffffff;
}

#box-2 .content-4 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 20px;
  top: 80px;
  background: rgba(255, 252, 252, 0.2);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  line-height: 42px;

  color: #ffffff;
}

#box-2 .content-5 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 240px;
  top: 80px;
  background: rgba(255, 252, 252, 0.2);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  line-height: 42px;

  color: #ffffff;
}

#box-2 .btn-3 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 480px;
  top: 80px;
  background: rgba(95, 95, 95, 0.65);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;

  color: #ffffff;
}

#box-2 .content-6 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 20px;
  top: 140px;
  background: rgba(255, 252, 252, 0.2);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  line-height: 42px;

  color: #ffffff;
}

#box-2 .content-7 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 240px;
  top: 140px;
  background: rgba(255, 252, 252, 0.2);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  line-height: 42px;

  color: #ffffff;
}

#box-2 .btn-4 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 480px;
  top: 140px;
  background: rgba(95, 95, 95, 0.65);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;

  color: #ffffff;
}

#box-2 .content-8 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 20px;
  top: 200px;
  background: rgba(255, 252, 252, 0.2);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  line-height: 42px;

  color: #ffffff;
}

#box-2 .content-9 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 240px;
  top: 200px;
  background: rgba(255, 252, 252, 0.2);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  line-height: 42px;

  color: #ffffff;
}

#box-2 .btn-5 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 480px;
  top: 200px;
  background: rgba(95, 95, 95, 0.65);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;

  color: #ffffff;
}

#box-2 .content-10 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 20px;
  top: 260px;
  background: rgba(255, 252, 252, 0.2);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  line-height: 42px;

  color: #ffffff;
}

#box-2 .content-11 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 240px;
  top: 260px;
  background: rgba(255, 252, 252, 0.2);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  line-height: 42px;

  color: #ffffff;
}

#box-2 .btn-6 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 480px;
  top: 260px;
  background: rgba(95, 95, 95, 0.65);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;

  color: #ffffff;
}
